<div class="container">
  <app-navbar title="Assessment Form"></app-navbar>
  <form [formGroup]="assessmentFormGroup" (ngSubmit)="submit()">
    <p style="margin: 8px;" *ngIf="isSelfAssessment && !errorAfterSubmission">This is a self assessment. Fill in the form and submit</p>
    <p style="margin: 8px; color: red;" *ngIf="errorAfterSubmission">Ensure all strands are rated</p>
    <mat-horizontal-stepper linear="false" labelPosition="bottom">
      <mat-step formGroupName="organisation" [stepControl]="assessmentFormGroup.get('organisation')">
        <ng-template matStepLabel>
          <span class="mat-wrap-label">Organisation</span>
        </ng-template>
        <app-organizationform [assessmentForm]="assessmentFormGroup"></app-organizationform>
        <div class="stepper-actions">
          <button mat-stroked-button type="submit" color="primary">Submit</button>
          <button mat-raised-button matStepperNext color="primary" type="button">Next</button>
        </div>
      </mat-step>
      <mat-step formGroupName="innovation" [stepControl]="assessmentFormGroup.get('innovation')">
        <ng-template matStepLabel>
          <span class="mat-wrap-label">Innovation</span>
        </ng-template>
        <app-innovation-form [assessmentForm]="assessmentFormGroup"></app-innovation-form>
        <div class="stepper-actions">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-stroked-button type="submit" color="primary">Submit</button>
          <button mat-raised-button matStepperNext color="primary" type="button">Next</button>
        </div>
      </mat-step>
      <mat-step formGroupName="interpersonalCommunication" [stepControl]="assessmentFormGroup.get('interpersonalCommunication')">
        <ng-template matStepLabel>
          <span class="mat-wrap-label">Interpersonal Communication</span>
        </ng-template>
        <app-interpersonal-communication-form [assessmentForm]="assessmentFormGroup"></app-interpersonal-communication-form>
        <div class="stepper-actions">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-stroked-button type="submit" color="primary">Submit</button>
          <button mat-raised-button matStepperNext color="primary" type="button">Next</button>
        </div>
      </mat-step>
      <mat-step formGroupName="criticalThinking" [stepControl]="assessmentFormGroup.get('criticalThinking')">
        <ng-template matStepLabel>
          <span class="mat-wrap-label">Critical Thinking</span>
        </ng-template>
        <app-critical-thinking-form [assessmentForm]="assessmentFormGroup"></app-critical-thinking-form>
        <div class="stepper-actions">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-stroked-button type="submit" color="primary">Submit</button>
          <button mat-raised-button matStepperNext color="primary" type="button">Next</button>
        </div>
      </mat-step>
      <mat-step
        formGroupName="buildingAndManagingRelationships"
        [stepControl]="assessmentFormGroup.get('buildingAndManagingRelationships')"
      >
        <ng-template matStepLabel>
          <span class="mat-wrap-label">Building and Managing Relationships</span>
        </ng-template>
        <app-building-and-managing-relationships-form [assessmentForm]="assessmentFormGroup"></app-building-and-managing-relationships-form>
        <div class="stepper-actions">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button type="submit" color="primary">Submit</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
