<div class="container">
  <app-navbar title="Assessment Periods"></app-navbar>
  <div class="add-assessment-div">
    <button mat-raised-button class="btn-primary">View all</button>
  </div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let assessmentPeriod of assessmentPeriods">
      <mat-expansion-panel-header>
        <mat-panel-title>Assessment period #{{ assessmentPeriod.id }}</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Running from {{ assessmentPeriod.start_date|date }} to {{ assessmentPeriod.end_date|date }}</p>
      <p>summary is coming soon...</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
