<div class="container">
  <div>
    <h2 class="font-weight-400">Pending Assessments</h2>
    <div>
      <app-assessment-card></app-assessment-card>
    </div>
  </div>
  <div style="margin-top: 50px;">
    <h2 class="font-weight-400">Previous Assessments</h2>
    <div class="assessments-div" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="16px">
      <app-assessment-card fxFlex.xs="100%" fxFlex.gt-xs="45%" fxFlex.gt-sm="30%"></app-assessment-card>
      <app-assessment-card fxFlex.xs="100%" fxFlex.gt-xs="45%" fxFlex.gt-sm="30%"></app-assessment-card>
      <app-assessment-card fxFlex.xs="100%" fxFlex.gt-xs="45%" fxFlex.gt-sm="30%"></app-assessment-card>
    </div>
  </div>
</div>
